* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('img/bckg.jpg');    
    background-position: center center; /* centriraj i horizontalno i vertikalno */
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 25vh;
  }
  
  
  .memory-game {  
    width: 90vmin;           /* uvek zauzima do 90% manjeg od width/height ekrana */
    height: 90vmin;  
    display: flex;
    flex-wrap: wrap;
    max-width: 800px;
    max-height: 640px;
  }
  
  .memory-card {
    width: calc(25% - 10px);
    height: calc(33.333% - 10px);
    margin: 5px;
    position: relative;
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform .5s;
    box-shadow: 1px 1px 1px rgba(0,0,0,.3);
  }
  
  .memory-card:active {
    transform: scale(0.97);
    transition: transform .2s;
  }
  
  .memory-card.flip {
    transform: rotateY(180deg);
  }
  
  .front-face,
  .back-face {
    width: 100%;
    height: 100%;
    padding: 10px;
    position: absolute;
    border-radius: 5px;
    background: #ca2368;
    backface-visibility: hidden;
  }
  
  .front-face {
    transform: rotateY(180deg);
  }