* {
    margin:0;
    padding:0;
    box-sizing:border-box;
    text-decoration: none;
    border:none;
    outline:none;
    scroll-behavior: smooth;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
:root{
    --bg-color:#ffffff;
    --second-bg-color:#f2f2f2;
    --text-color:#2b6777;
    --main-color:#c8d8e4;
    --treca-boja:#52ab98;
}

html{
    font-size:62.5%;
    overflow-x:hidden;
}

body{
    background: var(--bg-color);
    color:var(--text-color);
}

.header{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    padding: 3rem 9%;
    background:rgba(255,255,255,0.7);
    backdrop-filter:blur(20px);
    display:flex;
    align-items: center;
    justify-content: space-between;
    z-index:100;
}

