
.about{
    display:flex;
    align-items: center;
    justify-content: center;
    gap:10rem;
    background: var(--second-bg-color);
}

.about-circle{
    position: absolute;
    left: -150px;
    margin-top: 15rem;
    height: 40vw;
    width: 40vw;
    border-radius: 50%;
    background-color: var(--main-color);
}

.about-img{
    border-radius: 50%;
    display:grid;
    place-items:center;
    border:20px solid var(--main-color);
}

.about-img img{
    position:relative;
    width:30vw;
    border-radius: 50%;
    border:50px solid white;
    cursor:pointer;
}

.heading{
    text-align:center;
    font-size: 8rem;
}

.about-content h2{
    text-align: left;
    line-height: 1.5;
}

.about-content h3{
    font-size: 2.6rem;
}

.about-content p{
    font-size: 1.6rem;
    margin:2rem 0 3rem;
}

.text-animation span {
    border-right: 2px solid #52ab98;
    padding-right: 5px;
    animation: blink 0.7s infinite;
}

@keyframes blink {
    0% { border-color: #52ab98; }
    50% { border-color: transparent; }
    100% { border-color: #52ab98; }
}


.timeline-section{
    min-height: 100vh;
    padding: 100px 15px; 
    background: var(--bg-color);
}

.timeline-section h2{
    margin-bottom: 5rem;
}

.timeline-items{
    max-width: 1000px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

.timeline-items::before{
    content: '';
    position: absolute;
    width: 5px;
    height: 100%;
    background-color: var(--main-color);
    left: calc(50%-1px);
}

.timeline-item{
    margin-bottom: 40px;
    width: 100%;
    position: relative;
}

.timeline-item:last-child{
    margin-bottom: 0;
}

.timeline-item:nth-child(odd){
    padding-right: calc(50%+30px);
    text-align: right;
}

.timeline-item:nth-child(even){
    padding-left: calc(50%+30px);
}

.timeline-dot{
    height:21px;
    width:21px;
    background-color: var(--main-color);
    position: absolute;
    left:calc(50%-8px);
    border-radius: 50%;
    top:10px;
}

.timeline-date{
    font-size: 20px;
    font-weight: 800;
    color:white;
    margin:6px 0 15px;
}

.timeline-content{
    background-color: var(--main-color);
    backdrop-filter: blur(20px);
    border : 1px solid rgba(224,224,224,0.25);
    padding:30px;
    border-radius: 1 rem;
    cursor:pointer;
    transition:0.3 ease;
}

.timeline-content:hover{
    transform:scale(1.05);
}

.timeline-content h3{
    font-size: 20px;
    color:white;
    margin:0 0 10px;
    text-transform:capitalize;
    font-weight: 500;
}

.timeline-content p{
    color:white;
    opacity:0.8;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
}