
.logo{
    font-size:3rem;
    color:var(--text-color);
    font-weight:600;
    cursor:pointer;
    transition:0.3s ease;
}

.logo:hover{
    transform: scale(1.1);
}

span{
    color: var(--main-color);
}

.navbar a{
    font-size: 1.8rem;
    color:var(--text-color);
    margin-left:4rem;
    transition:0.3 ease;
    border-bottom:3px solid transparent;
}

.navbar a:hover,
.navbar a.active{
    color:var(--main-color);
    border-bottom:3px solid var(--main-color);
}

#menu-icon{
    font-size:3.6rem;
    color:var(--main-color);
    display:none;
}

section{
    min-height:100vh;
    padding:10rem 9% 10rem;
}

.home{
    display:flex;
    justify-content: center;
    align-items: center;
    gap:8rem;
}

.home-circle-1{
    position:absolute;
    background-color: var(--main-color);
    border-radius: 50%;
    height:30vw;
    width:30vw;
    bottom:10rem;
    right:0;
    z-index:-1;
}

.home-circle-2{
    position: absolute;
    background-color:var(--main-color);
    border-radius:50%;
    height:25vw;
    width:25vw;
    margin:0 auto;
    top:0;
    right:50px;
    z-index:-1;
}

.home-content h3{
    font-size:3.2rem;
    font-weight:600;
}

.home-content h3:nth-of-type(2){
    margin-bottom:2rem;
    font-size:5rem;
}

.home-content h1{
    font-size:8rem;
    font-weight: 600;
    line-height:1.3;
}

.home-img{
    display:grid;
    place-items: center;
    border-radius: 50%;
    border:20px solid var(--main-color);
}

.home-img img{
    position:relative;
    background-color: white;
    border:30px solid white;
    width:32vw;
    border-radius: 50%;
    cursor:pointer;
}

.home-content p{
    font-size:1.8rem;
    font-weight:500;
    max-width: 650px;
}

.social-icons a{
    display:inline-flex;
    justify-content: center;
    align-items: center;
    width: 4.5rem;
    height: 4.5rem;
    background: transparent;
    font-size: 2.5rem;
    border:0.2rem solid var(--main-color);
    border-radius: 50%;
    color:var(--main-color);
    margin:3rem 1.5rem 3rem 0;
    transition: 0.3s ease;
}

.social-icons a:hover{
    color:white;
    transform:scale(1.3)translateY(-5px);
    background-color: var(--main-color);
}

.btn{
    display:inline-block;
    padding:1rem 2.8rem;
    background:var(--main-color);
    border-radius: 4rem;
    font-size: 1.6rem;
    color:white;
    border:2px solid transparent;
    letter-spacing: 0.1rem;
    font-weight: 500;
    transition: 0.3s ease;
    cursor:pointer;
}

.btn:hover{
    transform: scale(1.05);
    background:var(--bg-color);
    color:var(--main-color);
    border:2px solid var(--main-color);
}
